@layer component, variant, main, adaptive;

@font-face {
    font-family : 'HelveticaNeueBold';
    src: url('/font/HelveticaNeueBold.ttf');
}

@layer component {
    .page_section {
        display: flex;
        justify-content: center;
    }

    .button {
        text-decoration: none;
        color: var(--color-black);
        padding: var(--spacing-3);
        border-radius: var(--radius-1);
        text-align: center;
        border: 1px solid transparent;
 
    }

    .click {
        transition: opacity var(--transition-1);
    }

    .click:hover {
        opacity: var(--opacity-1);
        cursor: pointer;
    }

    .click:active {
        opacity: var(--opacity-2);
    }

    .icon {
        display: block;
        height: 48px;
        width: 48px;
        background-repeat: no-repeat;
        background-position: cente center;
    }

    .double_line {
        line-height: var(--line-height);
        max-width: 520px;
    }

    .double_line:nth-of-type(2) {
        display: flex;
        max-width: 1020px;
        padding-left: 500px;
    
    }
}

@layer variant {
    .button_primary {
        color: var(--color-white);
        background-color: var(--color-primary);
    }

    .button_secondary {
        color: var(--color-primary);
        border-color: var(--color-primary);
        border-width: 2px;
    }

    .page_section_light {
        background-color: var(--color-light);
    }

    .feat_icon {
        height: 48px;
        width: 48px;
    }

    .icon_arrow {
        height: 18px;
        width: 24px;
        background-image: url("/svg/arrow-right.svg");
    }

    .icon_arrow_blue {
        height: 18px;
        width: 24px;
        background-image: url("/svg/arrow-right-blue.svg");
    }
}

body {
    font-family: 'HelveticaNeueBold', sans-serif;

    background-color: var(--color-white);
}

:root {
    --color-white: #ffffff;
    --color-black: #000;
    --color-primary: #611f69;
    --color-light: #f4ede4;

    --page-width-big: 1200px;
    --page-width-medium: 1000px;
    --page-width-small: 700px;

    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 20px;
    --spacing-5: 24px;
    --spacing-6: 28px;
    --spacing-7: 32px;
    --spacing-8: 36px;
    --spacing-9: 78px;

    --size-1: 14px;
    --size-2: 18px;
    --size-3: 22px;
    --size-4: 26px;
    --size-5: 30px;
    --size-6: 34px;

    --radius-1: 4px;

    --opacity-1: 0.7;
    --opacity-2: 0.3;

    --transition-1: 0.7s;

    --line-height: 1.5em;
}

@layer main {
.page {
    display: grid;
}

.page_content {
    width: 100%;

    padding: var(--spacing-3);
}

.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 200px;
    
  min-height: 600px;
}

.hero {  
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 50px;

}

.hero_content {
    display: grid;
    gap: var(--spacing-5);
    max-width: 425px;    
    color: var(--color-black);
    position: relative;
}

.brands {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: var(--spacing-8);
    row-gap: var(--spacing-4);
    flex-wrap: wrap;
}

.hero_image {
    position: absolute;
    left: 580px;
    top: 0;
}

.hero_label {
    font-size: var(--size-1)
}

.hero_title {
    font-size: 50px;
}

.hero_info {
    font-size: var(--size2);
}

.hero_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-5);
}

.features_section {
    padding-top: 150px;
    padding-bottom: 150px;

    display: grid;
    gap: var(--spacing-5);
    
    background-image: url('/img/features.png'), url('/img/features-2.png');
    background-repeat: no-repeat;
    background-position: top right, left;   

}

.features_title {
    font-size: var(--size-6);
}

.features_title:nth-of-type(2) {
    text-align:right;
}

.features_description {
    font-size: var(--size-2);
    max-width: 520px;
}



.feat_card {
    padding: var(--spacing-3);
    background-color: var(--color-white);
    display: grid;
    gap: var(--spacing-3);

    font-size: var(--size-2);

    grid-template-rows: min-content min-content 1fr min-content;
}

.feat_link {
    justify-self: flex-end;
}

.features_grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: var(--spacing-3);
    padding-bottom: 100px;
}

.features_grid_4 > .feat_card:first-of-type {
    grid-row: 1 / 3;  
}

.features_grid_3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: var(--spacing-3);
    padding-top: var(--spacing-9);
}

.features_grid_3 > .feat_card:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1 / 3;  
}

.features_grid_3 > .feat_card:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 / 3;  
}

.features_grid_3 > .feat_card:nth-of-type(3) {
    grid-column: 4;
    grid-row: 1 / 2;  
}

.features_grid_3 > .feat_card:nth-of-type(4) {
    grid-column: 4;
    grid-row: 2 / 3;  
}

.page_section_block {
    display: flex;
    align-items: center;

    padding-top: 72px;
    max-width: 1020px;

}

.page_section_block_autor {
    display: flex;
    flex-direction: column;

    gap: 24px;
    padding-left: var(--spacing-8);
    max-width: 430px;
}

.section_image {
    display: flex;
}

.block_text {
    font-size: 28px;
    line-height: 150%;
}

.block_logo {
    width: 147px;
    height: 39px;
}

.customer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer_header {
    font-size: 32px;
    display: flex;
    padding-top: 155px;

}

.customer_card_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1020px;

    padding-top: 40px;
    gap: 75px;   
}

.customer_card {
    display: grid;
    width: 285px;
    height: 420px;

    border: 1px solid #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.customer_card_title {
    font-size: 14;
    padding: 7px 12px;
}

.customer_card_description {
    font-size: 24px;
    padding: 7px 12px;
}

.customer_card_link {
    text-decoration: none;
    color: #1264a3;
}

@layer adaptive {
    @media all and (1260px <= width) {
        .page_content {
            max-width: var(--page-width-big);
        }
    }

    @media all and (1000px <= width < 1260px) {
        .page_content {
            max-width: var(--page-width-medium);
        }

        .hero_image {
            position: absolute;
            left: 518px;
            height: 300px;
        }
    }

    @media all and (width < 1000px) {
        .page_content {
            max-width: var(--page-width-small);
        }

        .hero_image {
            position: static;
            width: 100%;
            order: -1;
        }

        .hero_content {
            max-width: 100%;
        }

        .features_grid_4 {
            grid-template-columns: repeat(3, 1fr);
        }

        .features_grid_4 > .feat_card:first-of-type {
            grid-row: 1 / 3;  
        }

        .features_section {
            background: none;
        }
        
    }

    @media all and (width < 600px) {
        .features_grid_4 {
            grid-template-columns: 2fr 2fr;
        }
    }

    @media all and (width < 400px) {
        .features_grid_4 {
            grid-template-columns: 1fr;
        }

        .hero_buttons {
            grid-template-columns: 1fr;
            gap: var(--spacing-2);
        }
    }    
}

}