{{#each articles}}
  <div class='article_card_id'>

    <div class='img_box'>
      <img
        src='{{photo}}'
        alt='{{name}}'
        class='article_img'
      />

      {{#if isNew}}
        <span class='article_badge'>NEW</span>
      {{/if}}
    </div>

    <strong class='article_img_title'>{{name}}</strong>
    <p class='article_text'>{{description}}</p>

    <button class='article_all_text_button'>Read All</button>
  </div>
{{/each}}